<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string>Тема 1: Теория строения органических соединений.
Тема 2: Углеводороды (Алканы, Алкены, Алкины).
Тема 3: Спирты и фенолы.
Тема 4: Альдегиды и карбоновые кислоты.
Тема 5: Аминокислоты, белки и нуклеиновые кислоты.</string>
		<key>image</key>
		<string>chemistry</string>
		<key>authors</key>
		<string>Колевич Т. А., Матулис Вадим Э., Матулис Виталий Э.</string>
		<key>title</key>
		<string>Химия 10 класс</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Тема 1: Функции и их свойства.
Тема 2: Тригонометрические функции.
Тема 3: Тригонометрические уравнения и неравенства.
Тема 4: Производная. Применение производной к исследованию функций.
Тема 5: Степень с рациональным показателем. Степенная функция.</string>
		<key>image</key>
		<string>algebra</string>
		<key>authors</key>
		<string>Арефьева И. Г., Пирютко О. Н.</string>
		<key>title</key>
		<string>Алгебра 10 класс</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Тэма 1: Беларуская літаратура першай паловы ХІХ стагоддзя (Ян Чачот, Францішак Багушэвіч).
Тэма 2: Творчасць Янкі Купалы і Якуба Коласа (дакастрычніцкі перыяд).
Тэма 3: Жыццё і творчы шлях Максіма Багдановіча.
Тэма 4: Развіццё драматургіі. &quot;Паўлінка&quot; Янкі Купалы.
Тэма 5: Проза пачатку ХХ стагоддзя (Цётка, Змітрок Бядуля).</string>
		<key>image</key>
		<string>bellit</string>
		<key>authors</key>
		<string>Бязлепкіна-Чарнякевіч А. П., Акушэвіч А. А., Воюш І. Д.</string>
		<key>title</key>
		<string>Беларуская літаратура 10 клас</string>
	</dict>
	<dict>
		<key>authors</key>
		<string>Леонович В. Л., Волынец Т. Н., Долбик Е. Е., Саникович В. А., Малецкая М. И., Литвинко Ф. М., Мурина Л. А., Таяновская И. В.</string>
		<key>description</key>
		<string>Тема 1: Язык как система. Фонетика и орфоэпия.
Тема 2: Лексикология и фразеология.
Тема 3: Морфемика и словообразование.
Тема 4: Морфология. Части речи и трудные случаи их правописания.
Тема 5: Культура речи и стилистика.</string>
		<key>title</key>
		<string>Руссский язык 10 класс</string>
		<key>image</key>
		<string>rus</string>
	</dict>
</array>
</plist>
